<div id="hello-world" v-cloak>

  <h1>Hello World!</h1>
  <a href="#" v-bind:click="beta == false">Set beta to false</a>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
